.habitCard{
    height : 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.habitCard p{
    font-weight: 600;
    margin-bottom: 1%;
}


.habitName{
    color : rgb(157, 157, 57);
    font-weight: bold;
}

.dayCard{
    height : 100%;
    width : auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

